<style>
body  {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQS_lEvatIEf7as9W9XUqAERn_vh9eThAiJ3JYmTdrToqB_T0AZdbykRmqYaFJICvxhXSE&usqp=CAU");  
  background-repeat:no-repeat;
  background-blend-mode: luminosity;
  background-size: 450px 450px;
  image-rendering: pixelated;
  image-rendering: auto;
  image-rendering: crisp-edges;
}
.img{
  height:400px; width: 400px;
  padding-bottom: 30px;
  left:1100px;
  bottom:0px;
  mix-blend-mode: luminosity;
  position: absolute;
}
</style>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/> 
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3" ><i class="fas fa-sign-in-alt"></i>  Login</h1>
      <% include ./partials/messages %>
      <form action="/users/login" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Enter Password"
          />
        </div>
        <button type="submit" class="btn btn-block" style="background-color: #082567; color: white;">Login</button>
      </form>

      <p class="lead mt-4">
        No Account? <a href="/users/register">Register</a>
      </p>
      <div><p>Log in with:</p>
      <a href="/auth/google" class="btn btn-danger" style="width: 100%;"><span class="fa fa-google"></span> Google</a></br></br>
    </div>
  </div>
</div>
<img class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfcC5qV8sEPFJN2aOpA5eJSJORQvJhy8p1GBkfmUUdgH9XsqNDuSyWdA2cX7B_EPRbNTM&usqp=CAU">

