<style>
  
  #cloud-scroll {
    background: url(https://www.telstra.com.au/content/dam/shared-component-assets/tecom/illustrations/cities/hong-kong-region-01.png) repeat-x;   
    bottom:0px;
    left:0px;
    width: 100%;
    height: 35%;
    background-size: 700px;
    position: absolute;
    -webkit-animation: 900000s backgroundScroll infinite linear;
    -moz-animation: 900000s backgroundScroll infinite linear;
    -o-animation: 900000s backgroundScroll infinite linear;
    -ms-animation: 900000s backgroundScroll infinite linear;
    animation: 900000s backgroundScroll infinite linear;
  }
  
  @-webkit-keyframes backgroundScroll {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }
  
  @keyframes backgroundScroll {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -99999999px 0;
    }
  }
  </style>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
     <centre><img src="https://1000logos.net/wp-content/uploads/2018/07/Telstra-Logo.png"
       class="image-circle" alt="Telstra" height="120" width="160"></centre>
    
     <h3>Paymon</h3><h4>The Billing Portal</h4></br>
      <a href="/users/register" style="background-color: #082567; color: white;" class="btn  btn-block mb-2">Register</a>
      <a href="/users/login" class="btn  btn-block mb-2" style="background-color: #89CFF0; color: white;">Login</a>
    </div>
  </div>
</div>

<div id="cloud-scroll"></div>
